.icon{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.flex1 {
  flex: 1;
}

.flex-direction-column {
  flex-direction: column;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
}